# Filtering Wisconsin Election Data Down to Milwaukee

This notebook does the simple job of filtering out all other counties in Wisconsin and focusing on the election data in Milwaukee. The data is downloaded from the Wisconsin State Legislature's Open Data Portal. The specific datasets can be accessed through the links below:

- [2002-2010 Election Data with 2020 Wards](https://data-ltsb.opendata.arcgis.com/datasets/LTSB::2002-2010-election-data-with-2020-wards/explore)

- [2011-2020 Election Data with 2020 Wards](https://data-ltsb.opendata.arcgis.com/datasets/LTSB::2012-2020-election-data-with-2020-wards/explore?location=44.746647%2C-89.815213%2C7.74)

In [1]:
#importing pandas
import pandas as pd

### Selecting useful columns from downloaded csv files. Columns include: 
- county & municipality names
- city/town/village
- districts (assembly, senate, congressional)
- voting wards (as strings)
- population over 18 (total and by race/ethnicity)
- presidential election votes

### Dataframe for 2008 presidential election

In [2]:
df_04_08 = pd.read_csv("2002-2010_Election_Data_with_2020_Wards.csv", \
                    usecols = ["GEOID", "CNTY_NAME", "CTV", "MCD_NAME", "ASM", "SEN", "CON", \
                               "STR_WARDS", "PERSONS18", "WHITE18", "BLACK18", \
                                "HISPANIC18", "ASIAN18", "AMINDIAN18", "PISLAND18", \
                                    "OTHER18", "OTHERMLT18", "PRETOT04", "PRETOT08"])
df_04_08

,GEOID,CNTY_NAME,MCD_NAME,CTV,ASM,SEN,CON,STR_WARDS,PERSONS18,WHITE18,BLACK18,HISPANIC18,ASIAN18,AMINDIAN18,PISLAND18,OTHER18,OTHERMLT18,PRETOT08,PRETOT04
0,55001002750001,Adams,Adams,C,41,14,3,0001,484.0,463.0,9.0,8.0,1.0,3.0,0.0,0.0,0.0,251.0,253.0
1,55001002750002,Adams,Adams,C,41,14,3,0002,463.0,435.0,4.0,7.0,7.0,8.0,0.0,2.0,0.0,72.0,80.0
2,55001002750003,Adams,Adams,C,41,14,3,0003,241.0,234.0,4.0,2.0,0.0,1.0,0.0,0.0,0.0,170.0,192.0
3,55001002750004,Adams,Adams,C,41,14,3,0004,306.0,298.0,1.0,2.0,2.0,2.0,0.0,0.0,1.0,299.0,324.0
4,55001003000001,Adams,Adams,T,41,14,3,0001,736.0,704.0,2.0,21.0,2.0,5.0,0.0,1.0,1.0,453.0,463.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7073,55101660000001,Racine,Racine,C,66,22,1,0001,2134.0,1054.0,809.0,219.0,30.0,12.0,0.0,5.0,5.0,910.0,801.0
7074,55139557500027,Winnebago,Neenah,C,56,19,6,0027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7075,55139557500028,Winnebago,Neenah,C,55,19,6,0028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7076,55139598750009,Winnebago,Omro,C,53,18,6,0009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7077,55139605000043,Winnebago,Oshkosh,C,53,18,6,0043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Dataframe for 2012 - 2020 presidential election

In [3]:
df_12_20 = pd.read_csv("2012-2020_Election_Data_with_2020_Wards.csv", \
                    usecols = ["GEOID", "CNTY_NAME", "CTV", "MCD_NAME", "ASM", "SEN", "CON", \
                               "STR_WARDS", "PERSONS18", "WHITE18", "BLACK18", \
                                "HISPANIC18", "ASIAN18", "AMINDIAN18", "PISLAND18", \
                                    "OTHER18", "OTHERMLT18", "PRETOT12", "PRETOT16", \
                                        "PRETOT20"])
df_12_20

,GEOID,CNTY_NAME,MCD_NAME,CTV,ASM,SEN,CON,STR_WARDS,PERSONS18,WHITE18,BLACK18,HISPANIC18,ASIAN18,AMINDIAN18,PISLAND18,OTHER18,OTHERMLT18,PRETOT20,PRETOT16,PRETOT12
0,55001002750001,Adams,Adams,C,41,14,3,0001,484.0,463.0,9.0,8.0,1.0,3.0,0.0,0.0,0.0,268.0,258.0,272.0
1,55001002750002,Adams,Adams,C,41,14,3,0002,463.0,435.0,4.0,7.0,7.0,8.0,0.0,2.0,0.0,259.0,241.0,262.0
2,55001002750003,Adams,Adams,C,41,14,3,0003,241.0,234.0,4.0,2.0,0.0,1.0,0.0,0.0,0.0,117.0,113.0,117.0
3,55001002750004,Adams,Adams,C,41,14,3,0004,306.0,298.0,1.0,2.0,2.0,2.0,0.0,0.0,1.0,145.0,136.0,147.0
4,55001003000001,Adams,Adams,T,41,14,3,0001,736.0,704.0,2.0,21.0,2.0,5.0,0.0,1.0,1.0,497.0,414.0,427.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7073,55139557500027,Winnebago,Neenah,C,56,19,6,0027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7074,55139557500028,Winnebago,Neenah,C,55,19,6,0028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7075,55139598750009,Winnebago,Omro,C,53,18,6,0009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7076,55139605000043,Winnebago,Oshkosh,C,53,18,6,0043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7077,55065081250001,Lafayette,Blanchardville,V,51,17,2,0001,485.0,479.0,1.0,3.0,1.0,1.0,0.0,0.0,0.0,357.0,300.0,337.0

### Filtering the data down to Milwaukee County only:

In [4]:
mil_04_08 = df_04_08[df_04_08.CNTY_NAME == "Milwaukee"]
mil_12_20 = df_12_20[df_12_20.CNTY_NAME == "Milwaukee"]

In [5]:
# just a little display before I save these as new files:
mil_04_08

,GEOID,CNTY_NAME,MCD_NAME,CTV,ASM,SEN,CON,STR_WARDS,PERSONS18,WHITE18,BLACK18,HISPANIC18,ASIAN18,AMINDIAN18,PISLAND18,OTHER18,OTHERMLT18,PRETOT08,PRETOT04
3311,55079054500001,Milwaukee,Bayside,V,23,8,4,0001,785.0,664.0,45.0,19.0,50.0,2.0,0.0,2.0,3.0,647.0,704.0
3312,55079054500002,Milwaukee,Bayside,V,23,8,4,0002,474.0,435.0,3.0,13.0,16.0,3.0,3.0,0.0,1.0,437.0,447.0
3313,55079054500003,Milwaukee,Bayside,V,23,8,4,0003,528.0,473.0,27.0,12.0,13.0,3.0,0.0,0.0,0.0,400.0,378.0
3314,55079054500004,Milwaukee,Bayside,V,23,8,4,0004,733.0,674.0,20.0,17.0,19.0,1.0,1.0,0.0,1.0,645.0,632.0
3315,55079054500005,Milwaukee,Bayside,V,23,8,4,0005,683.0,619.0,19.0,12.0,26.0,4.0,0.0,0.0,3.0,674.0,662.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3876,55079867000008,Milwaukee,Whitefish Bay,V,23,8,4,0008,785.0,721.0,9.0,24.0,28.0,0.0,0.0,0.0,3.0,698.0,650.0
3877,55079867000009,Milwaukee,Whitefish Bay,V,23,8,4,0009,1019.0,819.0,74.0,31.0,86.0,3.0,1.0,0.0,5.0,890.0,844.0
3878,55079867000010,Milwaukee,Whitefish Bay,V,23,8,4,0010,1025.0,954.0,9.0,12.0,47.0,0.0,0.0,2.0,1.0,884.0,858.0
3879,55079867000011,Milwaukee,Whitefish Bay,V,23,8,4,0011,770.0,701.0,11.0,16.0,40.0,1.0,0.0,1.0,0.0,700.0,728.0
3880,55079867000012,Milwaukee,Whitefish Bay,V,23,8,4,0012,938.0,884.0,14.0,8.0,27.0,2.0,0.0,1.0,2.0,949.0,910.0

In [6]:
mil_12_20

,GEOID,CNTY_NAME,MCD_NAME,CTV,ASM,SEN,CON,STR_WARDS,PERSONS18,WHITE18,BLACK18,HISPANIC18,ASIAN18,AMINDIAN18,PISLAND18,OTHER18,OTHERMLT18,PRETOT20,PRETOT16,PRETOT12
3310,55079054500001,Milwaukee,Bayside,V,23,8,4,0001,785.0,664.0,45.0,19.0,50.0,2.0,0.0,2.0,3.0,628.0,591.0,595.0
3311,55079054500002,Milwaukee,Bayside,V,23,8,4,0002,474.0,435.0,3.0,13.0,16.0,3.0,3.0,0.0,1.0,495.0,465.0,439.0
3312,55079054500003,Milwaukee,Bayside,V,23,8,4,0003,528.0,473.0,27.0,12.0,13.0,3.0,0.0,0.0,0.0,421.0,394.0,402.0
3313,55079054500004,Milwaukee,Bayside,V,23,8,4,0004,733.0,674.0,20.0,17.0,19.0,1.0,1.0,0.0,1.0,758.0,692.0,676.0
3314,55079054500005,Milwaukee,Bayside,V,23,8,4,0005,683.0,619.0,19.0,12.0,26.0,4.0,0.0,0.0,3.0,706.0,660.0,635.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3875,55079867000008,Milwaukee,Whitefish Bay,V,23,8,4,0008,785.0,721.0,9.0,24.0,28.0,0.0,0.0,0.0,3.0,802.0,718.0,494.0
3876,55079867000009,Milwaukee,Whitefish Bay,V,23,8,4,0009,1019.0,819.0,74.0,31.0,86.0,3.0,1.0,0.0,5.0,888.0,778.0,1123.0
3877,55079867000010,Milwaukee,Whitefish Bay,V,23,8,4,0010,1025.0,954.0,9.0,12.0,47.0,0.0,0.0,2.0,1.0,1042.0,964.0,1203.0
3878,55079867000011,Milwaukee,Whitefish Bay,V,23,8,4,0011,770.0,701.0,11.0,16.0,40.0,1.0,0.0,1.0,0.0,727.0,641.0,408.0
3879,55079867000012,Milwaukee,Whitefish Bay,V,23,8,4,0012,938.0,884.0,14.0,8.0,27.0,2.0,0.0,1.0,2.0,997.0,917.0,957.0

### Saving all the files now :)

In [7]:
mil_04_08.to_csv("mil_cnty_04_08.csv", index = False)
mil_12_20.to_csv("mil_cnty_12_20.csv", index = False)